 .fileName {
   white-space: nowrap;  
   width: 100%;                     
   overflow: hidden;
   text-overflow: ellipsis;
 }

/*
.fileName {
  position: relative;
  width: 100px;
  
}
.fileName p {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.fileName:after {
  content: attr(data-filetype);
  position: absolute;
  left: 100%;
  top: 0;
}
.fileName:hover {
  width: auto  
}
.fileName:hover:after {
  display: none;  
}*/